<aside class="text-white hero cta px-4 m-0">
  <div class="hero-image">
    <div>{% picture img/cta-hero.jpg --alt Open laptop with a podcasting microphone in foreground %}</div>
  </div>
  <div class="hero-content container col-xxl-6 text-center">
    <div class="hero-content-inner">
      <h2 class="fw-bold">Interested in a demo?</h2>
      <p class="fs-4 mt-2 mb-4">Reach out today</p>
      <p class="text-center"><a href="{% link pages/contact.md %}" type="button" class="btn btn-primary px-4 gap-3">Let's Talk</a></p>
    </div>
  </div>
</aside>
