<aside class="text-white hero cta px-4 m-0">
  <div class="hero-image">
    <div>{% picture img/hero-pilot.jpg --alt headset in foreground sitting on a soundboard %}</div>
  </div>
  <div class="hero-content container col-xxl-6 text-center">
    <div class="hero-content-inner">
      <h2 class="fw-bold">Learn More about the PRX Digital Audio Pilot for Public Media</h2>
      <p class="text-center"><a href="{% link pages/pilot.md %}" type="button" class="btn btn-primary px-4 gap-3">Apply today</a></p>
    </div>
  </div>
</aside>
