.btn-primary {
  background: $orange;
  border: 2px solid transparent;
  color: $black;
  border-radius: 25px;
  font-weight: bold;

  &:hover {
    background: $white;
    color: $black;
    border-color: $orange;
  }
}
