.btn {
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: $btn-border-radius;
  font-family: $font-header-base;
}

.btn-primary {
  background: $orange;
  color: $black;

  &:hover {
    background: $white;
    color: $black;
    border-color: $orange;
  }
}
