.form-group {
  margin-bottom: 1.25rem;

  > label {
    margin-bottom: 0.5rem;
    color: $white;
  }

  .form-text {
    color: $cyan;
  }

  .form-control {
    background-color: $navy-900;
    border-color: $black;
    color: $white;
    padding: 1rem;
   
    &::placeholder {
      color: $gray-300;
    }
  }

}

input::placeholder,
textarea::placeholder {
  font-style: italic;
}
