.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-size: .9rem;
  padding: 1rem .25rem;

  @media (min-width: 576px) {
    font-size: 1rem;
  }

  &.navbar-dark .navbar-nav .nav-link {
    align-items: center;
    font-family: $font-header-base;
    color: $white;
    border: 2px solid transparent;

    &.btn-primary {
      color: $black;
      border: 2px solid rgba(0, 0, 0, 0.25);
    }
  }
}

.navbar-expand-md .navbar-collapse {
  background-color: $dark-blue;
  padding: 15px;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
    box-shadow: none;

    .navbar-nav {
      align-items: center;
    }
  }
}
